.main_box_banner {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    /* margin-bottom: 80px; */


    /* height: 365px; */

    /* Secondary */

    background: #0AA7F7;
    border-radius: 16px;
}

.heading_banner {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44.3937px;
    /* line-height: 67px; */
    /* identical to box height */

    /* display: flex; */
    /* align-items: center; */

    /* White */

    color: #FFFFFF;
}

.para_banner {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 29.2349px;
    /* line-height: 44px; */
    /* identical to box height */

    /* display: flex; */
    /* align-items: center; */

    /* White */

    color: #FFFFFF;

}

.btn_banner {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* padding: 10.7873px 21.5746px; */
    /* gap: 10.79px; */

    /* position: absolute; */
    width: 153.15px;
    height: 44.57px;
    /* left: 100px; */
    /* top: 414px; */

    /* Primary */

    background: #156BE9;
    border-radius: 5.39365px;



    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15.1022px;
    /* identical to box height */

    border: 2px solid transparent;
    /* White */

    color: #FFFFFF;
    cursor: pointer;


    /* Inside auto layout */

}

.main_left_content_box {
    padding-top: 70px;

    padding-left: 60px;
    padding-bottom: 60px;

    /* display: flex;
    flex-direction: column;
    gap: 4; */
}

.main_right_content_box {
    display: flex;
    align-items: center;
    justify-content: right;
    /* padding-right: 10px; */
}
.banner_img{
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 800px) {
    .main_box_banner {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 50px;
        /* margin-bottom: 80px; */
    
    
        /* height: 365px; */
    
        /* Secondary */
    
        background: #0AA7F7;
        border-radius: 16px;
    }
    .main_left_content_box {
        padding-top: 70px;
    
        padding-left: 20px;
        padding-right: 20px;

        padding-bottom: 10px;
    
        /* display: flex;
        flex-direction: column;
        gap: 4; */
    }
    .heading_banner {

       
        font-size: 34.3937px;
        /* line-height: 67px; */
        /* identical to box height */
    
        /* display: flex; */
        /* align-items: center; */
    
        /* White */
    
    }
    .para_banner {

     
        font-size: 24.2349px;
      
    
    }
    .main_right_content_box {
    margin-top: 30px;
    padding-left: 10;
    padding-right: 10;
    margin-bottom: 20px;

        /* padding-right: 10px; */
    }
  }